<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-get-google-services-version" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>GetGoogleServicesVersion</name>
	<DESCRIPTION>This plugin validates if a certain google services version is equals or higher than the one is installed on the device</DESCRIPTION>
	<js-module name="GetGoogleServicesVersion" src="www/GetGoogleServicesVersion.js">
		<clobbers target="GetGoogleServicesVersion" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="GetGoogleServicesVersion">
				<param name="android-package" value="com.bm.plugins.GetGoogleServicesVersion" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/GetGoogleServicesVersion.java" target-dir="src/com/bm/plugins/GetGoogleServicesVersion" />
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<framework src="com.google.gms:google-services:4.1.0" />
		<framework src="com.google.android.gms:play-services-base:16.+" />
	</platform>
</plugin>